<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aianlaysis.airequest.mapper.SrvyResultMapper">

	<select id="selectSurveyQuestions" resultType="com.aianlaysis.airequest.model.SrvyVO">
	    SELECT 
	    	surveyNo,
	    	email,
	        group_no,
	        srvyType,
	        srvyCn,
	        chc
	    FROM AI_SRVY
	    WHERE group_no = #{groupNo}  
	</select>
	
	<select id="findByEmailAndGroupNo" resultType="com.aianlaysis.airequest.model.SrvyResultVO">
	    SELECT 
	    *
	    FROM AI_SRVYRESULT 
	    WHERE group_no = #{groupNo} and email = #{email}  
	</select>
	
	<select id="checkSrvyResult" resultType="Integer">
	    SELECT COUNT(*) FROM AI_SRVYRESULT 
	    WHERE email = #{email} 
	    AND group_no = #{groupNo} 
	</select>

	<!-- /SrvyReg 조사 문항 정보 삽입-->
    <insert id="insertSurveyResult" parameterType="com.aianlaysis.airequest.model.SrvyResultVO">
        INSERT INTO AI_SRVYRESULT (email, chcRslt, mem_id, group_no, textRslt, srvyCn)
        VALUES (#{email}, #{chcRslt}, #{memId}, #{groupNo}, #{textRslt}, #{srvyCn})  
    </insert>
    
    <!-- /SrvyReg 조사 문항 정보 삽입-->
   <update id="updateSurveyResult" parameterType="com.aianlaysis.airequest.model.SrvyResultVO">
       UPDATE AI_SRVYRESULT
		SET
	    chcRslt = #{chcRslt},
	    textRslt = #{textRslt},
	    regDt = NOW(),
	    srvyCn = #{srvyCn}
		WHERE email = #{email} AND group_no = #{groupNo}
    </update>
    
	 <!-- 등록된 조사 결과를 조회 (개인별 객관식, 단답식 응답)-->
	<select id="selectSurveyResults" parameterType="map" resultType="map">
		SELECT * 
		FROM AI_SRVYRESULT
		WHERE mem_id = #{memId}
	</select>
	
	<!-- 등록된 조사 결과를 조회 (전체 객관식, 단답식 응답)-->
	<select id="selectSurveyData" parameterType="map" resultType="map">
	    
	    SELECT 
		    srvyCn,
		    GROUP_CONCAT(DISTINCT CASE WHEN chcRslt IS NOT NULL THEN chcRslt ELSE NULL END ORDER BY srvyRsltNo) AS multipleChoiceResponses,
		    GROUP_CONCAT(CASE WHEN textRslt IS NOT NULL THEN textRslt ELSE NULL END ORDER BY srvyRsltNo) AS shortAnswerResponses,
		    COUNT(CASE WHEN chcRslt IS NOT NULL THEN 1 ELSE NULL END) AS multipleChoiceCount,
		    COUNT(CASE WHEN textRslt IS NOT NULL THEN 1 ELSE NULL END) AS shortAnswerCount,
		    COUNT(*) AS totalResponses
		FROM AI_SRVYRESULT
		WHERE group_no = #{groupNo}
		GROUP BY srvyCn
		ORDER BY srvyRsltNo;
			    
	</select>
	
	<!-- 퍼센트 계산 용-->
	<select id="selectMccA" resultType="int">
		SELECT COUNT(chcRslt) AS chcRsltCnt
    	FROM AI_SRVYRESULT
    	WHERE srvyCn = #{srvyCn} AND chcRslt = #{chcRslt}
	</select>


</mapper>